.box {
  border: 10px solid black;
  width: 500px;
  margin: 10px;
}

.Win {
  border: 10px solid green;
  color: green;
}
.Lose {
  border: 10px solid red;
  color: red;
}
.Tie {
  border: 10px solid black;
  color: black;
}

.main {
  text-align: center;
  display: flex;
  justify-content: center;
}

.item-img {
  height: 200px;
}

.button {
  margin: 50px;

  font-size: 30px;
  font-weight: 400;
  text-align: center;

  width: 200px;
  height: 100px;
  background-color: skyblue;

  border: none;
}
